# Trash
.DS_Store
Thumbs.db
# k8s
kubeconfig
# vscode-sops
.decrypted~*.yaml
.config.env
*.agekey
*.pub
*.key
# Ansible
!ansible/inventory/group_vars/proxmox/files/pvecl01/*
/infrastructure/ansible/roles/install_common/files/kasm_release
xanmanning.k3s*
# Terraform
.terraform
.terraform.tfstate*
terraform.tfstate*
# Draw.io
/docs/diagrams/*.bkp
# Packer
packer/proxmox/ubuntu-server-focal/http/user-data
