# Trash
.DS_Store
Thumbs.db
# k8s
kubeconfig
# vscode-sops
.decrypted~*.yaml
.config.env
*.agekey
*.pub
*.key
!ansible/inventory/group_vars/proxmox/files/pvecl01/*
# Ansible
xanmanning.k3s*
# Terraform
.terraform
.terraform.tfstate*
terraform.tfstate*
# Draw.io
/docs/diagrams/*.bkp
