---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: unpoller
  namespace: monitoring
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 2.0.3
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  values:
    image:
      repository: ghcr.io/unpoller/unpoller
      tag: v2.34.0@sha256:73423ddfe304e866b2cda2d3ecf8e68c15317c93a22945ad7d941d3ca3a6d022

    env:
      UP_UNIFI_DEFAULT_ROLE: tnwks-ops
      UP_UNIFI_DEFAULT_URL: https://unifi:8443
      UP_UNIFI_DEFAULT_VERIFY_SSL: false
      UP_UNIFI_DEFAULT_USER: unifipoller
      UP_UNIFI_DEFAULT_PASS:
        valueFrom:
          secretKeyRef:
            name: unpoller-secrets
            key: unifipoller_password
      UP_INFLUXDB_DISABLE: true

    service:
      main:
        ports:
          http:
            port: 9130

    serviceMonitor:
      main:
        enabled: true
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 2m # Unifi API only polls at 2m intervals
            scrapeTimeout: 5s

    resources:
      requests:
        cpu: 10m
        memory: 100Mi
      limits:
        memory: 500Mi
