---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: alertmanager
  namespace: monitoring
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 2.0.3
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  values:
    controller:
      type: statefulset
      annotations:
        reloader.stakater.com/auto: "true"

    image:
      repository: quay.io/prometheus/alertmanager
      tag: main@sha256:dbaffc3e60e9652f91600753a9553b65f67212188fc1c1e81efa83aeba636bcd

    podAnnotations:
      reloader.stakater.com/auto: "true"

    service:
      main:
        ports:
          http:
            port: 9093

    ingress:
      main:
        enabled: true
        ingressClassName: nginx-internal
        hosts:
          - host: &host alertmanager.tnwks.local
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host

    persistence:
      config:
        enabled: true
        type: configMap
        name: alertmanager-configmap
        mountPath: /etc/alertmanager
        readOnly: true
      secrets:
        enabled: true
        type: secret
        name: alertmanager-secrets
        mountPath: /etc/secrets
        readOnly: true

    resources:
      requests:
        cpu: 11m
        memory: 50M
      limits:
        memory: 99M

    volumeClaimTemplates:
      - name: storage
        mountPath: /alertmanager
        accessMode: ReadWriteOnce
        size: 50Mi
        storageClass: cephfs
